
@keyframes spring {
    0% {transform: scale(0.9);}
    25% {transform: scale(1.1);}
    50% {transform: scale(0.95);}
    75% {transform: scale(1.05);}
    100% {transform: scale(1);}

}

button {
    transform: scale(1);
    transition: all .1s ease-out;
}
button:active {
    transform: scale(0.9);
    transition:  all 0ms;
}
.shrink { 
}
.springAnimation {
    animation: spring 250ms ease-out;
}
@keyframes active-click {
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.clickAnimation {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1;
    position: relative;
    &:focus {
    }
    & p {
        position: absolute;
        font-family: monospace;
        font-size: 2rem;
        height: 100%;
    }
}
.activeTop {
    top: -20rem
}