$light-theme-background: rgb(220, 220, 220);
$dark-theme-background: rgb(20, 20, 20);
$dark-theme-circle: rgb(35, 35, 35);
$light-theme-circle: rgb(240, 240, 240);

.darkLight {
    position: absolute;
    width: 100px;
    height: 3rem;
    user-select: none;
    top: 1rem;
    z-index: 1;

    & *,
    & {
        transition: all .3s ease;
    }

    button {

        border: none;
        position: relative;
        width: 100%;
        height: 100%;
        padding: .5rem;

        & *,
        &::before {
            font-family: monospace;
        }

        p,
        & {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10rem;
            transition: all .3s ease;
        }

        p {
            height: 80%;
            font-size: .5rem;
            aspect-ratio: 1/1;
        }

        p,
        &::before {
            position: absolute;
        }

        &::before {
            content: "mode: ";
            left: -50%;
            z-index: 10;
            transition: inherit;
        }



    }

    .lightClass {
        left: calc(57%);
        background: $light-theme-circle;
        color: black;
    }

    .darkClass {
        left: 4%;
        right: auto;
        background: $dark-theme-circle;
        color: white;
    }

    
    .lightButton {
        background: $light-theme-background;
    
        &::before {
            color: black;
        }
    }
    
    .darkButton {
        background: $dark-theme-background;
    
        &::before {
            color: white;
        }
    }
}

.rightSide {
    right: 1rem;

}

.leftSide {
    left: 4rem;
}