@font-face {
  font-family: 'Interstate';
  src: url('../../public/fonts/interstate-webfont/interstate-black-comp-58b641cc0aca1.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

body {
  background: rgb(18, 18, 18);
  font-family: 'Interstate', sans-serif;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}
input[type="range"]:hover {
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px; /* Thumb width */
  height: 16px; /* Thumb height */
  background: black; /* Thumb color */
  cursor: pointer;
  border-radius: 10rem;
  box-shadow: inset 0 0 0 1px  white;
}
/* input[type="range"]::-webkit-slider-runnable-track { */
  /* height: 6px; */
  /* background: linear-gradient(to right, #ff5500, #ff8800); */
  /* border-radius: 3px; */
/* } */
