



.header {   
    position: absolute;
    top: 1rem;
    width: calc(100% - 2rem);
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background: white;
    border-radius: 1rem;
    display: flex; flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    overflow: hidden;font-family: 2rem;
    background: transparent;
    width: 70%;
    place-self: center;
}
