@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.keyboard {
    height: auto;
    width: 100%;
    display: grid;
    transition: all .2s ease;
    gap: 10px;
    user-select: none;
    z-index: 10;
    height: fit-content;
    & button {
        font-family: monospace;
        border-radius: 10rem;
        font-size: 2.2rem;
        transition: inherit;
        display: grid;
        transition: all .3s ease;
        place-content: center;
        border: none; outline: none;
        &:hover {
            outline: none; border: none;
            box-shadow: inset 0 10px 30px 1px gray;
        }
        & span {
            position: absolute;
            place-self: center;
            font-size: 3rem;
            transform: rotateZ(45deg);
        }
    }
    .darkButton {
        background: rgb(40, 40, 40);
        color: white
        
    } .lightButton {
        background: rgb(200, 200, 200);
        color: black
    }
 
    
    .tableButton {
        aspect-ratio: 1.65/1;
    }.mobileButton {
        aspect-ratio: 1/1;
        
    }
    .size {
        background: rgb(255, 118, 118);
    }
    .divide, .multiple,.minus, .plus,.equal {
        background: orange;
    }
    .resizeWindow {
        position: absolute;
    }
}
.darkKeyboard {
    .clear, .percent, .plus_minus {
        
        background: rgb(170, 170, 170);
    }
}
.lightKeyboard {
     .clear, .percent, .plus_minus {
        
        background: rgb(100, 100, 100);
    }

}
.tableKeyboard {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
    .mobileKeyboard{ 
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
    }

.id0 {
    background: black;
}